.viewport {
  border-radius: 12px;
  background: #eee;
  box-shadow: 0 5px 40px 1px #555;
}

.panel {
  border-radius: 12px;
  background: #eee;
  box-shadow: 0 5px 100px 0 #888;
}

.btn {
  border: none;
  transition: box-shadow 0.1s;
}

.btn:hover {
  box-shadow: 0 0 10px 1px #aaa;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  box-shadow: 0 0 0 1px #aaa;
}

.btn__control--color-green {
  border-radius: 6px;
  font: 1em/1.2 Arial;
  color: #eee;
  background: #66c34e;
}

.btn__control--color-orange {
  border-radius: 6px;
  font: 0.8em/1.2 Arial;
  color: #eee;
  background: #cc5526;
}

.sprite__char:hover {
  cursor: pointer;
  background: url(/images/Selector.png);
}

.panel__msg {
  font: 1em/1.2 Arial;
  text-align: center;
  color: #555;
}
